<!--
view app page html part
author: Lalit Sachdeva
Date: 6/12/2014
-->

<!doctype html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	<title>OLYMPIA</title>
	<link href="../img/olympia-fav.ico" rel="shortcut icon" type="image/x-icon" />
	<!--  fornt for heading 
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700&subset=latin,cyrillic-ext,greek-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
	 font for main content
	<link href="//fonts.googleapis.com/css?family=PT+Sans:400italic,400,700italic,700"/> -->
<!-- 	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'> -->
	<link href="../lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css"/>
	<link href="../css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="../css/font-awesome.css" rel="stylesheet">
	<link href="../css/viewApp.css" rel="stylesheet">
	<link href="../css/global.css" rel="stylesheet">
</head>
<body ng-controller="Ctrl">
	<header>
		<div class="row">
			<div class="header-space"></div>
		</div>
	</header>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-10">	
		<div class="row">
			<!-- Navigation back to page-->
			<a href="#" class="navigation">
				<i class="glyphicon glyphicon-chevron-left black-arrow" style="float:left;"></i><div class="blue-heading" >Back to Job Postings</div>
			</a>
		</div>
		<!--Outreach Volunteer-->
		<div class="row">
			<div class="panel-title padding-left-0">
				<label>Outreach Volunteers</label>
			</div>
		</div>
		<!--Dynamic date-->
		<div class="row">
			<div class="panel-heading padding-left-0">
				<label>Posted 13 days ago - 
					<a href="#">View</a> or 
					<a href="#">Edit</a> this job post
				</label>
			</div>
		</div>
		<!-- Number of applicants and sort by functionality-->
		<div class="row">
			<div class="col-sm-6 padding-left-0 ">
				<span><label ng-bind="lengthOfApplicants"></label> Applicants </span>
			</div>
			<div class="col-sm-6">
				<span class="float-left margin-top-7">Sort By: &nbsp;</span>
				<div >
					<select class="form-control float-left select-option">
					  <option value="values" ng-repeat="values in sortByList" ng-bind="values"></option>
					</select>
				</div>
			</div>
		</div>
		<!--table starts to show the data-->
		<div class="margin-top-5"></div>
		<div class="row">
			<div class="col-md-9 col-lg-9 col-sm-9">
				<div class="main-border1">
					<div class="applicants" ng-repeat="applicant in Applicants">
						<div style="padding-top:10px;"></div>
							<i class="glyphicon glyphicon-user font-size-6 "></i>
						<div class="wrapper">
							<div style="padding-top:5px;marging-top:5px;"></div>
							<label ng-bind="applicant.Name"></label><br/>
							<label ng-bind="applicant.job" class="job-detail"></label>
							<div style="padding-top:5px;marging-top:5px;"></div>
							<label ng-bind="applicant.city" class="city-detail"></label>	
						</div>
						<div class="col-sm-3 pull-right">
							<div class="circle circle-grey pull-right" style=" margin-top:-10px">
								<i class="icon-remove font-size-2 icon-attr" style="padding-left:3px;"> </i>
							</div>
							<button type="button" class="btn btn-success" ng-model="shortlisted"><i class="icon-ok"> </i>Shortlisted</button>
						</div>
						<div style="padding-top:5px;marging-top:5px;"></div>												
						<span ng-bind="applicant.bodyText"></span>
						<div style="padding-top:6px;marging-top:5px;"></div>	
						<div class="row">
							<div class="col-sm-3 col-lg-3 col-md-3"></div>
							<div class="col-sm-7 col-lg-7 col-md-7">
								<span ng-show="applicant.value" ng-model="applicant.value"><a >View Full Application</a> | <a>Send Message</a> | <a href="">Hire</a></span>
							</div>
							<div class="col-sm-2 col-lg-2 col-md-2" ng-show="applicant.value"><span><a ng-model="more" ng-click="applicant.value=false" >Less</a></span></div>
							<div class="col-sm-2 col-lg-2 col-md-2" ng-show="!applicant.value"><span><a ng-model="more" ng-click="applicant.value=true">More</a></span></div>
						</div>
						<hr class="user-hr" ng-if="$index !== lengthOfApplicants-1" />
					</div>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-sm-3">
				<div class="main-border1">
					<div class="wrap1">
						<div class="circle circle-blue">
							<i class="icon-user font-size-2 icon-attr-white"> </i>
						</div>
						<label style="padding-left:20px;">Applicants</label>
						<label style="padding-left:70px; margin-top:12px">{{lengthOfApplicants}}</label>
					</div>
					<div class="wrap1">
						<div class="circle circle-grey">
							<i class="icon-ok font-size-2 icon-attr"> </i>
						</div>
						<label style="padding-left:20px;">Shortlisted</label>
						<label style="padding-left:70px; margin-top:12px">0</label>
					</div>
					<div class="wrap1">
						<div class="circle circle-grey">
							<i class="icon-envelope font-size-2 icon-attr"> </i>
						</div>
						<label style="padding-left:20px;">Messaged</label>
						<label style="padding-left:73px; margin-top:12px">1</label>
					</div>
					<div class="wrap1">
						<div class="circle circle-grey">
							<i class="icon-remove font-size-2 icon-attr"> </i>
						</div>
						<label style="padding-left:20px;">Hidden</label>
						<label style="padding-left:93px; margin-top:12px">0</label>
					</div>
					<div class="wrap1">
						<div class="circle circle-grey">
							<i class="icon-envelope font-size-2 icon-attr"> </i>
						</div>
						<label style="padding-left:20px;">Hired</label>
						<label style="padding-left:103px; margin-top:12px">0</label>
					</div>
					<div class="wrap1" style="padding-left:20px;">
						<span >
							<a> 1 Pending invitation</a><br/>
							<a> 0 Withdrawn or Declined</a>
						</span>
					</div>
				</div>
			</div>
		</div>



	</div>
	<div class="col-sm-1">
	</div>
	<footer>
		<div class="row">
			<div class="col-sm-12">
				<div class="header-space">;sd;askdla;sd;klsadjkadskhadskashdk</div>
			</div>
		</div>
		<div class="row">
						<a href="#" class="footer-select">
							<div class="footer-circle footer-circle-linkedin pull-right">
								<i class="icon-linkedin font-size-20 icon-attr"> </i>
							</div>
						</a>
						<a href="#">
							<div class="footer-circle footer-circle-facebook pull-right">
								<i class="icon-facebook font-size-20 icon-attr"> </i>
							</div>
						</a>
						<a href="#">
							<div class="footer-circle footer-circle-twitter pull-right">
								<i class="icon-twitter font-size-20 icon-attr"> </i>
							</div>
						</a>
						<a href="#">
							<div class="footer-circle footer-circle-google pull-right">
								<i class="icon-google-plus font-size-20 icon-attr"> </i>
							</div>
						</a>
					</div>
	</footer>
	<script src="../lib/jquery/dist/jquery.min.js"></script>
	<script src="../lib/angular/angular.min.js"></script>
	<script src="../lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="../js/router.js"></script>	
	
	
</body>
</html>