<!--
view app page html part
author: Lalit Sachdeva
Date: 6/12/2014
-->

<!doctype html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	<title>OLYMPIA</title>
	<link href="../img/olympia-fav.ico" rel="shortcut icon" type="image/x-icon" />
	<!--  fornt for heading 
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700&subset=latin,cyrillic-ext,greek-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
	 font for main content
	<link href="//fonts.googleapis.com/css?family=PT+Sans:400italic,400,700italic,700"/> -->
<!-- 	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'> -->
	<link href="../lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css"/>
	<link href="../css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="../css/font-awesome.css" rel="stylesheet">
	<link href="../css/viewApp.css" rel="stylesheet">
	<link href="../css/global.css" rel="stylesheet">
</head>
<body ng-controller="Ctrl">
	<header>
		<div class="row">
			<div class="header-space"></div>
		</div>
	</header>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-10">	
		<div class="row">
			<!-- Navigation back to page-->
			<a href="#" class="navigation">
				<i class="glyphicon glyphicon-chevron-left black-arrow" style="float:left;"></i><div class="blue-heading" >Back to Job Postings</div>
			</a>
		</div>
		<!--Outreach Volunteer-->
		<div class="row">
			<div class="panel-title padding-left-0">
				<label>Outreach Volunteers</label>
			</div>
		</div>
		<!--Dynamic date-->
		<div class="row">
			<div class="panel-heading padding-left-0">
				<label>Posted 13 days ago - 
					<a href="#">View</a> or 
					<a href="#">Edit</a> this job post
				</label>
			</div>
		</div>
		<!-- Number of applicants and sort by functionality-->
		<div class="row">
			<div class="col-sm-6 padding-left-0 ">
				<span><label ng-bind="lengthOfApplicants"></label> Applicants </span>
			</div>
			<div class="col-sm-6">
				<span class="float-left margin-top-7">Sort By: &nbsp;</span>
				<div >
					<select class="form-control float-left select-option">
					  <option value="values" ng-repeat="values in sortByList" ng-bind="values"></option>
					</select>
				</div>
			</div>
		</div>
		<!--table starts to show the data-->
		<div class="margin-top-5"></div>
		<div class="row">
			<div class="col-md-8 col-lg-8 col-sm-8">
				<div class="main-border1">
					<div class="applicants" ng-repeat="applicant in Applicants">
						<div style="padding-top:50px;marging-top:5px;"></div>
						<i class="glyphicon glyphicon-user font-size-6 "></i>
						<div class="wrapper">
							<div style="padding-top:5px;marging-top:5px;"></div>
							<label ng-bind="applicant.Name"></label><br/>
							<label ng-bind="applicant.job" class="job-detail"></label>
							<div style="padding-top:5px;marging-top:5px;"></div>

							<label ng-bind="applicant.city" class="city-detail"></label>	
						</div>
												
						<div style="padding-top:5px;marging-top:5px;"></div>												
						<span ng-bind="applicant.bodyText">
						<hr>

					</div>



				</div>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-4">
				<div class="main-border1">
				.col-md-4
				</div>
			</div>
		</div>



	</div>
	<div class="col-sm-1">
	</div>
	<footer>
		<div class="row">
			<div class="header-space"></div>
		</div>
	</footer>
	<script src="../lib/jquery/dist/jquery.min.js"></script>
	<script src="../lib/angular/angular.min.js"></script>
	<script src="../lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="../js/router.js"></script>	
	
	
</body>
</html>