
/*global Classes*/

.padding-left-0{
	padding-left: 0px;
} 


.font-size-14{
	font-size:14px;	
}
.font-size-15{
	font-size:15px;	
}
.font-size-16{
	font-size:16px;	
}
.font-size-18{
	font-size:18px;	
}
.font-size-20{
	font-size:20px;	
}

.font-size-26 {
    font-size: 26px;
}
.font-size-1-7{
	 font-size:1.7em;
}
.font-size-1-5{
	 font-size:1.5em;
}
.font-size-2{
  font-size:2em;
}
.font-size-4{
  font-size:4em;
}
.font-size-6{
  font-size:6em;
}


.margin-top-5{
	margin-top:5px; 
}
.margin-top-7{
	margin-top:7px; 
}
.margin-top-10{
	margin-top:10px; 
}
.margin-top-15{
	margin-top:15px; 
}
.margin-top-20{
	margin-top:20px; 
}
.margin-top-30{
	margin-top:10px; 
}

.margin-left-100{
	margin-left: 100px;
}
.margin-left-80{
	margin-left: 80px;
}
.margin-left-71{
	margin-left: 71px;
}
.margin-left-60{
	margin-left: 60px;
}
.margin-left-57{
	margin-left: 57px;
}
.margin-left-55{
	margin-left: 55px;
}
.margin-left-50{
	margin-left: 50px;
}
.margin-left-40{
	margin-left: 40px;
}
.margin-left-35{
	margin-left: 35px;
}
.margin-left-28{
	margin-left: 28px;
}
.margin-left-10{
	margin-left: 10px;
}
.margin-left-5{
	margin-left: 5px;
}
.margin-left-4{
	margin-left: 4px;
}

.displan-none{
	display: none;
}
.float-left{
	float: left;
}


/*colors*/
.red{
	color:red;
}
span a{
	color:#00AEEC;
	cursor: pointer;
}
span a:hover{
	text-decoration: none;
	color:#00AEEC;
}

/* Fonts */
.text-bold {
    font-weight: bold;
}
.color-orange{
	background-color:#ffd966;
}