/*
view app page css part
author: Lalit Sachdeva
Date: 6/12/2014
*/

.body{
	overflow-x:hidden;
	margin: 0px;
	padding: 0px;
}
.header-space{
	height:120px;
}
.black-arrow{
	color: #000000;
	font-size: 20px;
	padding-left: 0px;
	padding-right: 5px;
}
.blue-heading{
	font-family: Arial,sans-serif;
	color: #00AEEC;
	font-size: 16px;
	background-color: #fff;
	font-weight: 500;
}
.navigation:hover,
.navigation:active{
	text-decoration: none;
}
.panel-title{
	font-size: 30px;
	font-family: Roboto Slab;
	font-weight: 600;
	color: #252523;
	background-color: #fff;
}
.panel-heading{
	font-size: 16px;
	font-family: Arial,sans-serif;
	font-weight: 500;
	color: #252523;
	background-color: #fff;
}
.select-option{
	width:auto; 
	text-align:center;
}

.main-border1{
	border: 3px solid #DEDCDC;
	border-radius: 10px;
	margin-left: -18px;
	padding: 15px 15px;
}
.wrapper{
	display: inline-block;
	position:absolute; 
	padding-left:52px;
	margin-left:25px;
	color: #00AEEC;
	background-color: #fff;
	font-size: 16px;
}
.city-detail{
	font-size: 12px;
	color: #000;
}
.job-detail{
	font-size: 16px;
	color: #000;
}
.user-hr{
	padding-top:0px; 
	margin-top:0px;
	border:1.5px solid #eee
}

.circle {
	padding-right: 10px;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    margin-left:5px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;    
}
.circle-blue{
	background-color: #00AEEC;
}
.circle-grey{
	background-color: #CFCCCC;
}
.icon-attr{
	display: inline-block;
	color: #858383;
	margin-left: 13px;
	margin-top:15px;
}
.icon-attr-white{
	display: inline-block;
	color: #ffffff;	
	margin-left: 13px;
	margin-top:15px;
}
.wrap1{
	display: -webkit-inline-box;
	display: -moz-inline-box;
}
.modal-header {
  background: #00AEEC;
  color:#ffffff;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}