<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>OLYMPIA</title>
	<link href="../img/olympia-fav.ico" rel="shortcut icon" type="image/x-icon" />
	<link rel="stylesheet" href="../css/app.css"/>
	<link rel="stylesheet" href="../css/olympia-icons.css"/>
	<link rel="stylesheet" href="../lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"/>
	<link href="//fonts.googleapis.com/css?family=PT+Sans:400italic,400,700italic,700"/>
</head>
<body>

	<header class="container">
		<div class="row" >
			<!-- This is for top most header info employer login and register -->
			<div class='col-sm-12'>
				<div class='col-sm-8' style='height: 15px'>
					<div class='row'>
					</div>
				</div>
				<div class='col-sm-1' style='height: 15px'>
					<div class='row'>
					</div>
				</div>

				<div class='col-sm-3' style='height: 15px'>
					<div class='row'>
						<div class='cssmenu'>
							<ul id='top-header'>
							   <li><a href='#' style='font-size: 10px;'><span>Employer Login</span></a></li>
							   <li><span style='font-size: 10px;'>|</span></li>
							   <li><a href='#' style='font-size: 10px;'><span>Register</span></a></li>
							   <li>	<img src="../img/netherland-flag.jpg" alt='netherland' /></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- This is for logo -->
			<div class="col-sm-12">
				<a href="#" class="logo" style='margin-top: -10px'>
					<img src="../img/logo.png" alt="Olympia"/>
				</a>
			</div>
			<!-- This is for main menu navigation -->
			<div class="col-sm-12">
				<div class='col-sm-4'>
					<div class='row'>
					</div>
				</div>
				<div class='col-sm-8'>
					<div class="col-sm-8 pull-center" style="background: #fff; margin-top: -45px; margin-bottom: 0px">
						<div class="row">
							<div class='cssmenu'>
								<ul>
								   <li class='active'><a href='#'><span>Home</span></a></li>
								   <li><a href='#'><span>Wie Zijn wij?</span></a></li>
								   <li><a href='#'><span>Jobs</span></a></li>
								   <li><a href='#'><span>Upload je CV</span></a></li>
								   <li class='last'><a href='#'><span>Contact</span></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-4 pull-right" style="background: #fff; margin-top: -45px; margin-bottom: 0px">
						<div class='row'>
							<div class='cssmenu'>
								<ul>
									<li><button type="button" style='color:#151379; font-size:15px; margin-top:-10px; margin-left:0px; font-weight:700;padding-left:25px;padding-right:25px;' class="btn btn-default btn-sm">WERKGEVERS</button></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="full-width-border" style="margin-top: 15px;">
		<div class="container" class='strong-grey' id='selected-tab'>
			<nav>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
				  <li class="active" id="first-tab"><a href="#home" data-toggle="tab">Zoek in 15133 vacatures</a></li>
				  <li id="second-tab"><a href="#" data-toggle="tab">582 Evenmenten</a></li>
				  <li id="third-tab"><a href="javascriptvoid(0)" data-toggle="tab">777 Buiterland</a></li>
				  <li id="fourth-tab"><a href="javascriptvoid(0)" data-toggle="tab">555 stage&#39;s</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
			    	<div class="tab-pane active" id="first-content-tab">
			  			<div class='container strong-grey container-size'>
			  				<div class='row'>
			  					<div class='col-sm-2'>
			  						<div class='row'>
			  						</div>
			  					</div>
			  					<div class='col-sm-10'>
			  						<div class='row'>
			  							<form for="top search">
				  							<div class='col-sm-4'>
					  							<div class='search-tab'>
					  								<span id='search-tab-text' for='job title'>wat</span>
					  								<input type='text' placeholder='Job title, skills or company' id='search-tab-input'>
					  								<a href='#' id='search-tab-link' ><span for='navigation'>vitgebrid zoeken >></span></a>
					  							</div>
				  							</div>
				  							<div class='col-sm-4' style='float:left; margin-left:-20px'>
					  							<div class='search-tab'>
					  								<span id='search-tab-text' for='city or post code'>waar</span>
					  								<input type='text' placeholder='City or post code' id='search-tab-input' disabled />
												        <select class="btn btn-primary dropdown-toggle" id='area-radius' data-toggle="dropdown" >
												        	<option value="5">5 km</option>
								                            <option value="10">10 km</option>
								                            <option value="20">20 km</option>
								                            <option value="30">30 km</option>
								                            <option selected="selected" value="50">50 km</option>
								                            <option value="75">75 km</option>
								                            <option value="100">100 km</option>
								                            <option value="150">150 km</option>
								                            <option value="200">200 km</option>
								                        </select>
					  							</div>
				  							</div>
				  							<div class='col-sm-1'>
				  								<div class='search-tab'>
				  									<button type="submit" class="btn btn-default">
				  										<span class="glyphicon glyphicon-search"></span> &nbsp;&nbsp;Zoek
				  									</button>
				  								</div>
				  							</div>
				  						</form>
			  						</div>
			  					</div>
			  				</div>
			  			</div>
			  		</div>
					<div class="tab-pane" id="second-content-tab">
						<div class='container strong-yellow container-size'>
			  			</div>
					</div>
					<div class="tab-pane" id="third-tab"></div>
					<div class="tab-pane" id="fourth-tab"></div>
				</div>
			</nav>
		</div>
	</div><!-- // navigation -->

	<div class='main-container-center'>
		<form action='' id='post-job' method=''>
			<div class='row' >
				<div class='col-sm-5'>
				</div >
				<div class='col-sm-7'>
					<span id='heading-form'>Post a Job</span>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-1'></div>
				<div class='col-sm-10' id='border-for-form'></div>
				<div class='col-sm-1'></div>

			</div>
			<div class='row'>
				<div id='error-showing-space'>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-3'>
				</div >
				<div class='col-sm-4' for='first content' id='form-component'>
					<label >Job Types</label>
					<select class='form-control' id='job-type'>
						<option value='job' select='selected'>Job</option>
						<option value='Internship'>Internship</option>
						<option value='Event'>Event</option>
					</select>
				</div>
			</div>
			<div class='row'>
				<div id='extra-space-label'>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-3'>
				</div >
				<div class='col-sm-6' for='first content'>
					<label id='form-component'>Give your job a title</label>
					<input type='text' class='form-control' for='inserting job title' id='form-text-control' placeholder='Title'>
				</div>
			</div>

			<div class='row'>
				<div id='extra-space-label'>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-3'>
				</div >
				<div class='col-sm-6' for='first content'>
					<label id='form-component'>Describe the work to be done</label>
					<input type='text' class='form-control' for='inserting job title' id='form-text-control' placeholder='Dwscribe work...'>
					<span>5000 characters left</span>
				</div>
			</div>

			<div class='row'>
				<div id='extra-space-label'>
				</div>
			</div>
			<div class='row'>
				    <div class='col-sm-3'>
				    </div>
				    <div class="col-sm-3">
			            <div class="form-group" >
			                <label id='form-component'>Start date</label>
			                <div class='input-group date' id='datetimepicker8' style="width:300px;">
			                    <input type='text' class="form-control" />
			                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
			                    </span>
			                </div>
			            </div>
				    </div>
					<div class='col-sm-4'>
			            <div class="form-group">
			            	 <label id='form-component'>End date</label>
			                <div class='input-group date' id='datetimepicker9'  style="width:300px;">
			                    <input type='text' class="form-control" />
			                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
			                    </span>
			                </div>
			            </div>
			        </div>
			</div>

			<div class='row'>
				<div id='extra-space-label'>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-3'>
				</div >
				<div class='col-sm-6' for='first content'>
					<label id='form-component'>What Skills are needed?</label>
					<input type='text' class='form-control' for='inserting job title' id='form-text-control'>
				</div>
			</div>
			<div class='row'>
				<div id='error-showing-space'>
				</div>
			</div>
		</form>
	</div>
	



	<footer class="main-container-footer">
		<div class='footer-size'>
			<div class='row'>
				<div class='col-sm-12 extra-row'>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-12'>
					<span id='footer-text'>&#169;Olympia - Alle Organisaties</span>
				</div>
			</div>
		</div>
	</footer>



	<!-- Scripts -->
	<script src="../lib/jquery/dist/jquery.min.js"></script>
	<script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="../lib/moment/moment.js"></script>
	<script src="../lib/moment/min/moment.min.js"></script>
	<script src="../lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
	<script src="../js/input-file.js"></script>
	<script src="../js/app.js"></script>
	<script src="../lib/hoverIntent.js"></script>
	<script src="../lib/superfish.min.js"></script>
	<script src="../lib/supersubs.js"></script>
	<script>
	$(document).ready(function() {
		$('#first-tab a:first').tab('show');

		var current = "#first-content-tab";
		
		$('#first-tab a').click(function (e) {
			  $('#first-content-tab').tab('show');
			  $('#first-content-tab').addClass('active');
			  $(current).removeClass('active');
			  current = "#first-content-tab";
			  console.log(current);
		});
		$('#second-tab a').click(function (e) {
			$('#second-content-tab').tab('show');
			$(current).removeClass('active');
			$('#second-content-tab').addClass('active');
			current = "#second-content-tab";
			console.log(current);
		});
		$('#third-tab a').click(function (e) {
			$('#third-content-tab').tab('show');
			$(current).removeClass('active');
			$('#third-content-tab').addClass('active');
			current = "#third-content-tab";
			console.log(current);
		});
		$('#fourth-tab a').click(function (e) {
			$('#fourth-content-tab').tab('show');
			$(current).removeClass('active');
			$('#fourth-content-tab').addClass('active');
			current = "#fourth-content-tab";
			console.log(current);
		});
	});

	
        $(document).ready(function() {
            $('#datetimepicker8').datetimepicker({
            	pickTime: false
            });
            $('#datetimepicker9').datetimepicker({
            	pickTime: false
            });
        
            $("#datetimepicker8").on("dp.change",function (e) {
               $('#datetimepicker9').data("DateTimePicker").setMinDate(e.date);

            });
        
            $("#datetimepicker9").on("dp.change",function (e) {
               $('#datetimepicker8').data("DateTimePicker").setMaxDate(e.date);
            });
    
    	});
</script>

</body>
</html>