<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<link href="../img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<title>My AngularJS App</title>
	<link rel="stylesheet" href="../css/app.css"/>
	<link rel="stylesheet" href="../css/olympia-icons.css"/>
</head>
<body>

	<header class="container">
		<div class="row">
			<div class="col-sm-3">
				<a href="#" class="logo">
					<img src="../img/logo.png" alt="Olympia"/>
				</a>
			</div>
			<div class="col-sm-9">
				<div class="col-sm-9 well well-sm pull-right" style="background: #fff; margin-top: 20px; margin-bottom: 0px">
					<div class="row">
						<div class="col-sm-9">
							<div class="row">
								<div class="col-sm-12">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group" style="margin-bottom: 8px">
												<input class="form-control input-sm" type="text">
											</div>
										</div>
										<div class="col-sm-3">
											<div class="form-group" style="margin-bottom: 8px">
												<input class="form-control input-sm" type="text">
											</div>
										</div>
										<div class="col-sm-3">
											<button class="btn btn-info btn-sm btn-block pull-right" data-toggle="modal" data-target="#myModal">Login</button>
										</div>

									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-12">
									<div class="row">
										<div class="col-sm-6">
											<div class="checkbox" style="margin-top: 0; margin-bottom: 0;">
												<label>
													<input type="checkbox"> <a>Onthoud mijn innologgegeven</a>
												</label>
											</div>
										</div>
										<div class="col-sm-6">
											<a href="#"  data-toggle="modal" data-target="#forgot-pass">Wachtwoord vergeten</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-3 border-left">
							<div class="row">
								<div class="col-sm-12 text-center">
									<p>Of log in met</p>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 text-center">
									<a href="#" class="website-icons"><i class="website-icons olympia-facebook3"></i></a>
									<a href="#" class="website-icons"><i class="website-icons olympia-linkedin2"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="full-width-border" style="margin-top: 15px;">
		<div class="container">
			<nav>
				<ul class="menu sf-menu" id="menu-227">
					<li class="current">
						<a href="javascript:void(0)" class="title">Ik zoek werk</a>
						<ul>
							<li>
								<a href="/Vacatures" class="title">Alle vacatures</a>
							</li>
							<li>
								<a href="/vacaturesperbranche" class="title">Vacatures per branche</a>
							</li>
							<li>
								<a href="/werkgevers" class="title">Vacatures bij topbedrijven</a>
							</li>
							<li>
								<a href="/Registration/RegisterIntro" class="title">Direct inschrijven bij Olympia</a>
							</li>
							<li>
								<a href="/Vestigingen-Olympia-Uitzendbureau" class="title">Vestiging zoeken</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0)" class="title">Ik zoek personeel</a>
						<ul>
							<li>
								<a href="/voorendoorondernemers" class="title">Voor en door ondernemers</a>
							</li>
							<li>
								<a href="http://www.olympia.nl/toptalent" target="_blank" class="title">ONZE VISIE OP TOPTALENT</a>
							</li>
							<li>
								<div class="title">Onze diensten</div>
								<ul>
									<li>
										<a href="/onzediensten/uitzenden" class="title">Uitzenden</a>
									</li>
									<li>
										<a href="/payrollservice" class="title">Payroll service</a>
									</li>
									<li>
										<a href="/wervingenselectie" class="title">Werving en selectie</a>
									</li>
									<li>
										<a href="/mastervendorservice" class="title">Master vendor service</a>
									</li>
									<li>
										<a href="/inhouseservice" class="title">Inhouse Service</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="/vacatureplaatsen" class="title">Vacature aanmelden</a>
							</li>
							<li>
								<a href="/Vestigingen-Olympia-Uitzendbureau?radius=25" class="title">Vestiging zoeken</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:void(0)" class="title">Over Olympia</a>
						<ul>
							<li>
								<a href="/welovetoworkforyou" class="title">We love to work for you</a>
							</li>
							<li>
								<a href="http://www.ondernemenbijolympia.nl" target="_blank" class="title">Ondernemer worden?</a>
							</li>
							<li>
								<a href="/contact" class="title">Contact</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="/mijn-olympia" class="title">Mijn Olympia</a>
					</li>
				</ul>
			</nav>
		</div>
	</div><!-- // navigation -->

	<div class="container">		
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Vacatures</a></li>
			<li><a href="#">Zuid Holland</a></li>
			<li><a href="#">Rotterdam</a></li>
			<li class="active">Heftruckchauffeur</li>
		</ol>
		<!-- // Breadcrumb -->
		<div class="row" style="position: relative;">
			<div class="col-sm-8">
				<h1 class="warning-text" style="margin-bottom: 0px;">Heftruckchauffeur (m/v)</h1>
			</div>
			<div class="col-sm-4" style="position: absolute; right: -1px; height: 100%; bottom: 0;">
				<button style="position: absolute;bottom: 0;" class="btn btn-primary big-text" onclick="window.location.href='partial2.html'">Solliciteer direct</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<h5 style="margin-top: 5px;">
					<strong>Rotterdam | Transportcentrum De Vries | Full time | 40 uur | MBO</strong>
				</h5>

				<h3 style="margin-top: 35px;">Organisatie-omschrijving</h3>
				
				<div class="row">
					<p class="col-sm-10 text-justify">Rockwool in Roermond fabriceert een breed scala aan steenwolproducten. In vier Business Units wordt een compleet assortiment isolatieproducten ten behoeve van utiliteits- en woningbouw en industrie geproduceerd alsmede groeimedia voor de glastuinbouw, systeemplafonds, gevelbekledingsmaterialen en steenwolvezels met materiaal versterkende eigenschappen.
					</p>
					<div class="col-sm-2">
						<img class="img-responsive img-thumbnail" src="../img/rockwool-logo.jpg"/>
					</div>
				</div>

				<br/>

				<h3>Functie-omschrijving</h3>
				<p class="text-justify">Je bent verantwoordelijk voor het aan- en afvoeren van goederen, het beheren van de opslag en het verzendklaar maken van goederen. Ook is het belangrijk om affiniteit en ervaring te hebben met het bedienen van machines.
				</p>

				<br/>

				<h3>Ons aanbod</h3>
				<ul class="bullet-list-colored">
					<li><span>Goed salaris en ploegentoeslagen</span></li>
					<li><span>Reiskostenvergoeding</span></li>
				</ul>
				<p>Het betreft in eerste instantie een baan op oproepbasis.</p>

				<br/>

				<h3>Wij vragen</h3>
				<ul class="bullet-list-colored">
					<li><span>Ben je in het bezit van een Heftruckcertificaat?</span></li>
					<li><span>Ben je in het bezit van eigen vervoer?</span></li>
					<li><span>Hoeveel jaar heb je al ervaring als heftruckchauffeur?</span></li>
				</ul>
				<p>Het betreft in eerste instantie een baan op oproepbasis.</p>

				<br/><br/>
				
				<div class="row">
					<div class="col-sm-4">
						<button class="btn btn-primary big-text" onclick="window.location.href='partial2.html'">Solliciteer direct</button>
					</div>
					<div class="col-sm-8"></div>
					<div class="col-sm-12" style="margin-top: 10px;">
						<a href="#"><i class="olympia-chevron-left"></i> Terug naar zoekresultaten</a>
					</div>
				</div>
				

				<br/><br/>

				<div class="row">
					<div class="col-sm-8">
						<a href="#"><i class="olympia-print"></i> Print</a>
						&nbsp;&nbsp;
						<a href="#"><i class="olympia-envelope2"></i> Mail deze vacature</a>
						&nbsp;&nbsp;
						<a href="#"><i class="olympia-star"></i> Favorieten</a>
					</div>
					<div class="col-sm-4" id="shareDiv">
						<div id="shareDiv1" class="btn share-div btn-block" style="border-radius:0px;">Deel deze vacature</div>
						<div id="shareDiv2" class="btn share-div btn-block icons-img" style="border-radius:0px;padding-top: 6px; height: 34px; margin-top: 0;">
							<a href="#" title="Deel via Facebook" class="facebook"></a>
							<a href="#" title="Deel via Linked in" class="linkedin"></a>
							<a href="#" title="Deel via Twitter" class="twitter"></a>
							<a href="#" title="Deel via Google +" class="googleplus"></a>
							<a href="#" title="Deel per E-mail" class="mailIcon"></a>
						</div>
					</div>
				</div>

				<br/><br/>

				<div class="well well-sm" style="padding: 0; background:#fff;">
					<img class="img-responsive" style="width: 100%; border-radius: 3px 3px 0 0;" src="../img/Alkmaar_team.jpg"/>
					<div style="padding: 9px;padding-bottom: 0;">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="warning-text">Team Olympia Rotterdam staat klaar voor jou!</h3>
								<p>Je bent altijd welkom bij onze vestíging. Wij zijn elke werkdag geopend van 8.30 tot 17.30 uur. Neem wel je cv en legitimatiebewijs mee. Je kunt ons ook altíjd bellen or mailen.</p>
								<p>Deze vacature ís geplaatst door Maríeke de Jager.</p>
							</div>
						</div>
						<br/>
						<div class="row">
							<ul class="col-sm-7 list-unstyled">
								<li><p><strong>Olympia Uitzendbureau Rotterdam</strong></p></li>
								<li><p>
										<span>Dorpsstraat 123</span>
										<br/>
										<span>2486 AB, Rotterdam</span>
									</p>
								</li>
								<li>
									<p>
										<i class="olympia-phone"></i> 
										<a href="javascript:void(0)" id="phoneToggle">Toon Telefoonnummer</a>
										<span id="phoneToggler">98988998989</span>
										<br/>
										<i class="olympia-envelope"></i> <a href="javascript:void(0)" id="mailToggle">Stuur een bericht</a>
										<span id="mailToggler">info@olympia.com</span>
									</p>
								</li>
								<li><p style="margin: 0;">Bezoek onze vestiging ook op: <a href="#" class="website-icons"><img width="19" src="../img/Facebook.png"/></i></a> <a href="#" class="website-icons"><img width="22" src="../img/Linkedin-small.png"/></i></a></p></li>
								<li><p style="margin: 0;">
									<a href="#">
										Toon alle vacatures van deze vestiging (87) <i class="olympia-chevron-right"></i>
									</a></p>
								</li>
							</ul>
							<div class="col-sm-5">
								<a href="#" id="map-pop" data-toggle="modal" data-target="#mapPop">
									<img src="../img/staticmap.png" alt="google map">
								</a>
							</div>
						</div>
					</div>
				</div>

				<br/>

				<h3 class="warning-text">Is deze vacature niet wat je zoekt?</h3>
				<p class="text-justify">
					Veel van ons aanbod is alleen offline beschikbaar. Alles wat wij van een werkzoekende nodig hebben is te vinden in je Olympia Account. Op die manier kunnen we jou matchen met een nog veel groter aanbod dan je hier op site vindt! Ook hebben wij ruime ervaring met <a href="#">inleners</a>. Nog geen account? <a href="#">Maak er dan nu één aan!</a> of lees <a href="#">hier</a> meer over hoe Olympia jou kan helpen.
				</p>

				<!-- <div class="row">
					<div class="col-sm-4">
						<a href="#">
							<i class="olympia-chevron-left"></i> Vorige Vacature
						</a>
					</div>
					<div class="col-sm-4 text-center">
						<a href="#">
							Heftruckchaffure Vacature (36)
						</a>
					</div>
					<div class="col-sm-4 text-right">
						<a href="#">
							Volgende Vacature <i class="olympia-chevron-right"></i>
						</a>
					</div>
				</div>-->
				
				<br>

				<div class="row">
					<div class="col-sm-12">
						<h3 class="warning-text">Bekijk ook</h3>
					</div>
					<div class="col-sm-12">
						<ul class="row list-unstyled">
							<li class="col-sm-6"><p><a href="#">Heftruckchauffeur vacatures (36)</a></p></li>
							<li class="col-sm-6"><p><a href="#">Magazijnmedewerker vacatures (107)</a></p></li>
							<li class="col-sm-6"><p><a href="#">Reachtruckchauffer vacatures (55)</a></p></li>
							<li class="col-sm-6"><p><a href="#">Orderpicker vacatures (88)</a></p></li>
							<li class="col-sm-6"><p><a href="#">Transportmedewerker vacatures (158)</a></p></li>
							<li class="col-sm-6"><p><a href="#">Alle vacatures (2598) hier &gt;&gt;</a></p></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<a href="#" style="padding: 5px 0 0 0; float: left;">
					<i class="olympia-chevron-left"></i> Terug naar zoekresultaten
				</a>
				
				<div class="clearfix"></div>
				<br/>

				<aside style="margin-top: 10px;">
					<div class="well">
						
						<h4 class="warning-text">Kenmerken van deze vacature</h4>

						<dl>
							<dt>Plaats</dt>
							<dd>Rotterdam</dd>

							<dt>Werkgever</dt>
							<dd>Rockwool</dd>

							<dt>Fulltime / parttime</dt>
							<dd>Fulltime</dd>

							<dt>Aantal uur</dt>
							<dd>40</dd>

							<dt>Salaris</dt>
							<dd>1500-2000</dd>

							<dt>Dienstverband</dt>
							<dd>Vast</dd>

							<dt>Werk/denkniveau</dt>
							<dd>MBO werk- en denkniveau</dd>

							<dt>Branche</dt>
							<dd>Transport</dd>

							<dt>Vakgebied</dt>
							<dd>Magazijn</dd>

							<dt>Vacaturenummer <a id="tooltip1" class="website-icons small" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Vacaturenummer" data-content="Het vacaturenummer kan gebruikt worden om te verwijzen naar deze vacature in de communicatie met een medewerker van Olympia"><i class="olympia-info3"></i></a></dt>
							<dd>12345678</dd>
						</dl>
					</div>
					<div class="well job-vacancy">
						<div class="row">
							<div class="col-sm-12 text-center">
								<a href="#" class="website-icons big-font"><i class="olympia-chevron-up"></i></a>
							</div>
						</div>
						<div class="list-group" style="margin-bottom: 0;">
							<a href="#" class="list-group-item">
								<h4 class="list-group-item-heading warning-text">Hefftruckchauffeur (M/V)</h4>
								<p style="margin: 0;"><strong>Schiedam | H8O l Fulltlme | 1s00 - zooo</strong></p>
								<p class="list-group-item-text">
								Lorem lpsum ddor slt omet consectetur odlplscln lt lnte looreet vulputote sopen, non venenotls mourls venenotls vltoe Nunc...
								</p>
							</a>
							<a href="#" class="list-group-item focused">
								<h4 class="list-group-item-heading warning-text">Hefftruckchauffeur (M/V)</h4>
								<p style="margin: 0;"><strong>Schiedam | H8O l Fulltlme | 1s00 - zooo</strong></p>
								<p class="list-group-item-text">
								Lorem lpsum ddor slt omet consectetur odlplscln lt lnte looreet vulputote sopen, non venenotls mourls venenotls vltoe Nunc...
								</p>
							</a>
							<a href="#" class="list-group-item">
								<h4 class="list-group-item-heading warning-text">Hefftruckchauffeur (M/V)</h4>
								<p style="margin: 0;"><strong>Schiedam | H8O l Fulltlme | 1s00 - zooo</strong></p>
								<p class="list-group-item-text">
								Lorem lpsum ddor slt omet consectetur odlplscln lt lnte looreet vulputote sopen, non venenotls mourls venenotls vltoe Nunc...
								</p>
							</a>
						</div>
						<div class="row">
							<div class="col-sm-12 text-center">
								<a href="#" class="website-icons big-font"><i class="olympia-chevron-down"></i></a>
							</div>
						</div>
						<p class="text-center"><a href="#">Alle vacatures (2598) hier >></a></p>
					</div>
				</aside>
			</div>
		</div>
	</div>
	<footer class="container" style="font-size: 13px;">
		<hr/>
		<p class="info-text">
			&copy; COPYRIGHT OLYMPIA UITZENDBUREAU
			&nbsp;
			<a class="info-text" href="#">Privacy statement</a> | <a class="info-text" href="#">Disclaimer</a> | <a class="info-text" href="#">Contact</a>
		</p>
		<br/>
		<br/>
	</footer>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close big-close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2 class="modal-title" id="myModalLabel">Modal title</h2>
				</div>
				<form role="form">
					<div class="modal-body">
						<div class="form-group">
							<label for="email-pop">E-mailadres</label>
							<input type="email" id="email-pop" class="form-control"/>
						</div>
						<div class="form-group">
							<label for="pass-pop">Wachtwoord</label>
							<input type="password" id="pass-pop" class="form-control"/>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<a href="#" data-toggle="modal" data-target="#forgot-pass">Wachtwoord vergeten?</a>
							</div>
							<div class="col-sm-6 text-right">
								Of log met: <a href="#" class="website-icons"><i class="icon icon-facebook-2"></i></a> <a href="#" class="website-icons"><i class="icon icon-linkedin-1"></i></a>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<div class="row">
							<div class="col-sm-6 text-left">
								<div class="checkbox">
									<label>
										<input type="checkbox"> Onthoud mijn inloggevens
									</label>
								</div>
							</div>
							<div class="col-sm-6">
								<button type="button" class="btn btn-primary">Inloggen</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="forgot-pass" tabindex="1" role="dialog" aria-labelledby="forgot-passLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close big-close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2 class="modal-title" id="myModalLabel">Wachtwoord mijn Olympia vergeten</h2>
				</div>
				<form role="form">
					<div class="modal-body">
						<div class="form-group">
							<label for="email-pop">Wachtwoord vergeten?</label>
							<p>
								Vul je gebruikersnaam of emailadres in. Je krijgt dan een bericht met daarin een automatisch gegenereerd wachtwoord. Je kunt dan later in je Mijn Olympia account het wachtwoord wijzigen.
							</p>
						</div>
						<div class="form-group">
							<label for="f-email">Gebruikersnaam of e-mailadres</label>
							<input type="email" id="f-email" class="form-control"/>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Annuleren</button>
						<button type="button" data-toggle="modal" data-target="#myModal-forgot-pass" class="btn btn-primary">Versturen</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal-forgot-pass" tabindex="2" role="dialog" aria-labelledby="myModal-forgot-pass" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close big-close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2 class="modal-title" id="myModalLabel">Modal title</h2>
				</div>
				<form role="form">
					<div class="modal-body">
						<div class="form-group">
							<label for="email-pop">E-mail is verzonden</label>
							<p>
								We hebben een e-mail naar je verzonden om je wachtwoord te resetten. Log vervolgens hier in om je sollicitatie af te ronden.
							</p>
						</div>
						<div class="form-group">
							<label for="email-pop">E-mailadres</label>
							<input type="email" id="email-pop" class="form-control"/>
						</div>
						<div class="form-group">
							<label for="pass-pop">Wachtwoord</label>
							<input type="password" id="pass-pop" class="form-control"/>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<a href="#" data-toggle="modal" data-target="#forgot-pass">Wachtwoord vergeten?</a>
							</div>
							<div class="col-sm-6 text-right">
								Of log met: <a href="#" class="website-icons"><i class="icon icon-facebook-2"></i></a> <a href="#" class="website-icons"><i class="icon icon-linkedin-1"></i></a>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<div class="row">
							<div class="col-sm-6 text-left">
								<div class="checkbox">
									<label>
										<input type="checkbox"> Onthoud mijn inloggevens
									</label>
								</div>
							</div>
							<div class="col-sm-6">
								<button type="button" class="btn btn-primary">Inloggen</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="mapPop" tabindex="1" role="dialog" aria-labelledby="modal-popLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close big-close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2 class="modal-title" id="myModalLabel">Olympia Uitzendbureau Rotterdam</h2>
				</div>
				<form role="form">
					<div class="modal-body">
						<img src="../img/staticmap.png" width="100%"/>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Annuleren</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Scripts -->
	<script src="../lib/jquery/dist/jquery.min.js"></script>
	<script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){

			$('#shareDiv1').show();
			$('#shareDiv2').hide();

			$('#shareDiv').mouseover(function() {
				$('#shareDiv1').hide();
				$('#shareDiv2').show();
			})
			.mouseout(function() {
				$('#shareDiv1').show();
				$('#shareDiv2').hide();
			});
		})
	</script>
	<!-- Scripts -->
	<script src="../lib/jquery/dist/jquery.min.js"></script>
	<script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../lib/jquery.validation/dist/jquery.validate.min.js"></script>
	<script src="../js/input-file.js"></script>
	<script src="../js/app.js"></script>
	<script src="../lib/hoverIntent.js"></script>
	<script src="../lib/superfish.min.js"></script>
	<script src="../lib/supersubs.js"></script>
	
	<script>
		$(document).ready(function () {
			$("#menu-227").addClass('sf-menu');
			$('#menu-227').superfish({
				delay: 200,
				speed: 'fast',
				autoArrows: 1,
				dropShadows: 1
			});

			$('#shareDiv1').show();
			$('#shareDiv2').hide();

			$('#shareDiv').mouseover(function() {
				$('#shareDiv1').hide();
				$('#shareDiv2').show();
			})
			.mouseout(function() {
				$('#shareDiv1').show();
				$('#shareDiv2').hide();
			});

			$("#text-content").keyup(function() {
				var text  = $(this).val();
				$('#text-content-pop').val(text);
				$('#text-content-count').text($(this).val().length);
				$('#text-content-count-pop').text($(this).val().length);
			});
			$("#text-content-pop").keyup(function() {
				var text  = $(this).val();
				$('#text-content').val(text);
				$('#text-content-count-pop').text(text.length);
				$('#text-content-count').text(text.length);
			});
		});
	</script>
</body>
</html>