<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>OLYMPIA</title>
	<link href="../img/olympia-fav.ico" rel="shortcut icon" type="image/x-icon" />
	<link rel="stylesheet" href="../css/olympia-icons.css"/>
	<link rel="stylesheet" href="../css/bootstrap-tagsinput.css"/>
	<link rel="stylesheet" href="../lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"/>
	<!-- fornt for heading -->
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700&subset=latin,cyrillic-ext,greek-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
	<!-- font for main content -->
	<link href="//fonts.googleapis.com/css?family=PT+Sans:400italic,400,700italic,700"/>
	<link href="../lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css"/>
	<link href="../css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="../css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/postjob.css"/>
</head>
<body>

	<header>
		<div class=''>
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#"><img src="../img/logo.png"></a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li ><a href="#tab-1" data-toggle="tab" class='menu-interval'>Search Volunteer</a></li>
				<li class="active"><a href="#tab-2" data-toggle="tab" class='menu-interval'>Post a Job</a></li>
				<li><a href="#tab-3" data-toggle="tab" class='menu-interval'>Job Postings</a></li>
				<li><a href="#tab-4" data-toggle="tab" class='menu-interval'>Messages</a></li>
		      </ul>
		      
		      <ul class="nav navbar-nav navbar-right">
		        <li class='pull-right'><a href="#" id="icons-header-right" ><span class="glyphicon glyphicon-question-sign"></a></li>
		        <li class='dropdown pull-right'>
		        	<a href="#" class="dropdown-toggle" id="icons-header-right" data-toggle="dropdown"><i class='glyphicon glyphicon-cog'></i></a>
		        	<ul class="dropdown-menu">
			            <li role="presentation"><a role="menuitem" href="#"><i class='glyphicon glyphicon-user blue'></i> My Account</a></li>
			            <li role="presentation" class="divider"></li>
			            <li role="presentation"><a role="menuitem" href="#"><i class='glyphicon glyphicon-cog blue'></i> Change Password</a></li>
			            <li role="presentation" class="divider"></li>
			            <li role="presentation"><a role="menuitem" href="#"><i class='glyphicon glyphicon-cog blue'></i> Notification Settings</a></li>
		          	</ul>
		        </li>
		        <li class='pull-right' ><a href="#" id="icons-header-right"><span class="glyphicon glyphicon-exclamation-sign"></a></li>
				<li class="dropdown pull-right" style="margin-top:5px;" id="username">
					<a href="#" class="dropdown-toggle"  id="hover-header-right" data-toggle="dropdown">Course_Agency &nbsp;<b class="caret blue"></b></a>
					<ul class="dropdown-menu header-right-dropdown" >
						<li role="presentation" ><a role="menuitem" ng-model="Client" href="#" id="tab-header-1"><img src="../img/client-icon.png">&nbsp;&nbsp;&nbsp;Course_Agency</a></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation" ><a role="menuitem" ng-model="Client" href="#"  ><img src="../img/client-icon.png">&nbsp;&nbsp;&nbsp;course_client</a></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation" ><a role="menuitem" ng-model="Client" href="#" ><img src="../img/user-icon.svg" height="25" width="25">&nbsp;&nbsp;&nbsp;Sandy Sharma</a></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation" id="separate-highlight" disabled> 
								<a role="menuitem" style="text-align:right;">Logout</a>
						</li>
					</ul>
				</li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</header>

	<div class="row">
		<div class="row margin-top-15" ></div>
		<div class="col-sm-1">
		</div>
		<form method="post" id="postJob" onsubmit="" ></form>
		<div class="col-sm-10">
			<div class='row  margin-left-71'>
				<span id='heading-form'>Post a Job</span>
			</div>
			<div class='row'>
				<div class='margin-top-15'>
				</div>
			</div>
			<div class="row margin-left-57" id="jobs">
				<div class="col-sm-8">
					<label >Job Types</label>
					<select class='form-control' id="job-type" style="width:400px;" required>
						<option value='job' select='selected'>Job</option>
						<option value='Internship'>Internship</option>
						<option value='Event'>Event</option>
					</select>
				</div>
			</div>
			<div class='row'>
				<div class='margin-top-10'>
				</div>
			</div>
			<div class="row margin-left-57" id="title">
				<div class="col-sm-10" >
					<label>Give your job a title</label>
					<input type='text' style="width:690px;" class='form-control' id='form-control-weight' for='inserting job title' id='form-text-control' placeholder='Title' id="job-title">
				</div>
			</div>
			<div class='row'>
				<div class='margin-top-10'>
				</div>
			</div>
			<div class="row margin-left-57" id="describe-work">
				<div class="form-group">
					<div class='col-sm-8'>
					<label >Describe the work to be done</label>
						<a href="#" id="zoomTextarea" class="pull-right" title="Click to Zoom" data-toggle="modal" data-target="#textBoxBig">Expand <i class="olympia-expand2"></i></a>
						<textarea id="text-content" maxlength="5000" class="form-control" rows="5"></textarea>
						<p>Number of characters <span id="text-content-count">0</span> (max 5000 characters)</p>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='margin-top-10'>
				</div>
			</div>
			<div class='row margin-left-57'>
				<div class="col-sm-9">
					<label >Attach a document </label><span id='optional-text'> (optional)</span>
					<input type="file" name="CV" accept="text/*" />
				</div>
			</div>
			<div class='row'>
				<div id='margin-top-10'>
				</div>
			</div>
			<div class='row margin-left-57'>
				<div class='col-sm-8' for='first content'>
					<span id='optional-text'> Less than 5mb</span>
				</div>
			</div>
			<div class='row'>
				<div class='margin-top-10'>
				</div>
			</div>
			<div class='row margin-left-57' >
				<div class='col-sm-11'>
					<div class='border-heading'>
						<label class="font-size-16"style='vertical-align:middle;'>Customize your application requirements</label>
					</div>
				</div>
			</div>

			<div class='row'>
				<div class='margin-top-15'>
				</div>
			</div>
			<div class="row margin-left-57">
				<div class="col-sm-11">
					<div class='col-sm-1  font-size-4 '>
						<span class="glyphicon glyphicon-list-alt"></span>			    	
				    </div>
				    <div class="col-sm-6">
				    	<label class="font-size-15">Preferred Skills and Diplomas</label>
				    </div>
				    <div class='col-sm-11' >
				    	<span>
							Specify the skills and diplomas/certificates you are looking for in a successful application. Volunteers may still apply if they do not meet your preferences, but they will be clearly notified that they are at a disadvantage.
						</span>

						<div class='row'>
							<div class='margin-top-10'>
							</div>
						</div>
						<button class="btn btn-primary" id="skills" value="Add Skills / Certificates" name="Add Skills / Certificates">Add Skills / Certificates</button>
						<ul class="ishidden" id="group-skills">
							<li style="list-style-type:none" id="skills-popover">
								<label >What Skills are needed?</label>
								<span id="optional-text">(optional) </span>
								<div class='form-group'>
									<input type="text" class='form-control' data-toggle="tooltip" data-role="tagsinput" placeholder="Add Skills" />
								</div>
							</li>
							<li style="list-style-type:none" id="diploma-popover">
								<label id='form-component-arrangement-label'>What Diploma/Certificates are needed?</label>
								<span id="optional-text">(optional) </span>
								<div  id='form-component-arrangement-input'>
									<input type="text" class='form-control' id='form-text-control' data-role="tagsinput" placeholder="Add Diplomas" />
								</div>
							</li>
						</ul>
				    </div>
				</div>
			</div>
			<div class="row margin-left-57">
				<div class="col-sm-11">
					<hr style="height:1px; background-color:#DDDDDD;">
				</div>	
			</div>
			<div class="row margin-left-57">
				<div class="col-sm-11">
					<div class='col-sm-1  font-size-4 '>
						<span class="glyphicon glyphicon-time"></span>			    	
				    </div>
				    <div class="col-sm-6">
				    	<label class="font-size-15">Preferred Time commitments</label>
				    </div>
				    <div class='col-sm-11' >
				    	<span>
							Specify the time commitments, schedule and days of week you're looking for in a successful application. Volunteers may still apply if they do not meet your requirement preferences, but they will be clearly notified that they are at a disadvantage.
						</span>

						<div class='row'>
							<div class='margin-top-10'>
							</div>
						</div>
						<button class="btn btn-primary" id="time">Add Time Comittments</button>
						<ul class="ishidden" id="group-skills">
						
							<li style="list-style-type:none; margin-left:-16px;" id="datepicker">
								<div class='col-sm-6'>
		            				<div class="form-group" >
						                <label>Start date</label>
						                <div class='input-group date' id='datetimepicker8' style="max-width:330px;">
						                    <input type='text' class="form-control" id='datepicker1'/>
						                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
						                    </span>
						                </div>
						            </div>
						        </div>
								<div class='col-sm-6'>
						            <div class="form-group">
						            	<label>End date</label>
						                <div class='input-group date' id='datetimepicker9'  style="max-width:330px;">
						                    <input type='text' class="form-control" id='datepicker2'/>
						                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
						                    </span>
						                </div>
						            </div>
						        </div>
							</li>

							<li style="list-style-type:none" class="check-label">
								<div class="row">
									<label class="margin-left-28">Time Comittment</label>
									<a>
										<i class="glyphicon glyphicon-question-sign blue" id="time-checkbox"></i>
									</a>
									<span id="optional-text">(optional) </span>
									
								</div>
								<!-- <label class="margin">Time Comittment</label> -->
								<div class="col-sm-6 ">
									<div class="checkbox">
										<label>
											<input type="checkbox"> <a>Occasional(weekly or monthly)</a>
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox"> <a>A lot(10+ hours/week)</a>
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox"> <a>Full time(30-40 hours/week)</a>
										</label>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="checkbox">
										<label>
											<input type="checkbox"> <a>One time</a>
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" > <a>For few hours</a>
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox"> <a>Less than 1 hour </a>
										</label>
									</div>
								</div>
							</li>
							<!-- <li style="list-style-type:none">
								<label id='form-component-arrangement-label'>Estimated Duration</label>
								<div  id='form-component-arrangement-input'>
									<input type="text" class='form-control' id='form-text-control' placeholder="Add Estimated duration" />
								</div>
							</li> -->
							<li style="list-style-type:none" class="check-label">
								<div class="row">
									<label class="margin-left-28">Schedule</label>
									<a>
										<i class="glyphicon glyphicon-question-sign blue"  id="schedule-checkbox"></i>
									</a>

									<span id="optional-text">(optional) </span>
									
								</div>
								<div class="col-sm-12 ">
									<div class="checkbox">
										<label>
											<input type="checkbox"> <a>Flexible schedule</a>
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox"> <a>Fixed schedule</a>
										</label>
									</div>
								</div>
							</li>
							<li style="list-style-type:none" id="dow-popover">
								<label id='form-component-arrangement-label'>Days of Week</label>
								<span id="optional-text">(optional) </span>
								<div  id='form-component-arrangement-input' style="margin-bottom:0px;">
									<input type="text" class='form-control' id='dow-tag' placeholder="Add days of week" />
								</div>
								<div class="col-sm-12">
									<span style="margin-left:-13px;"><a href="#" id="zoomTextarea"id="modal-dow" onclick="updateValueDowText()" title="Click to Zoom" data-toggle="modal" data-target="#dowBox">Add days of week requirements to your job posting</a>
									</span>
								</div>
							</li>
						</ul>
				    </div>
				</div>
			</div>
			<div class="row margin-left-57">
				<div class="col-sm-11">
					<hr style="height:1px; background-color:#DDDDDD;">
				</div>	
			</div>
			<div class="row margin-left-57">
				<div class="col-sm-11">
					<div class='col-sm-1  font-size-4 '>
						<span class="glyphicon glyphicon-tasks"></span>			    	
				    </div>
				    <div class="col-sm-6">
				    	<label class="font-size-15">Extra Preferences</label>
				    </div>
				    <div class='col-sm-11' >
				    	<span>
							Specify the International volunter option, language and other extra details you're looking for in a successful application. Volunteers may still apply if they do not meet your preferences, but they will be clearly notified that they are at a disadvantage.
						</span>
						<div class='row'>
							<div class='margin-top-10'>
							</div>
						</div>
						<button class="btn btn-primary" id="miscleaneous">Add Extra Preferences</button>
						<ul class="ishidden" id="group-skills">
							<li style="list-style-type:none" class="check-label">
								<div class="row">
									<label class="margin-left-28">Appropriate for</label>
									<a>
										<i class="glyphicon glyphicon-question-sign blue"  id="appropriate-checkbox"></i>
									</a>
									<span id="optional-text">(optional) </span>
									
								</div>
								<!-- <label class="margin">Time Comittment</label> -->
								<div class="col-sm-12">
									<div class="checkbox">
										<label>
											<input type="checkbox"> <a>Families</a>
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox"> <a>Groups</a>
										</label>
									</div>
								</div>
							</li>
							<li style="list-style-type:none" class="check-label">
								<div class="row">
									<label class="margin-left-28">International volunteer option</label>
									<a>
										<i class="glyphicon glyphicon-question-sign blue"  id="IVO-checkbox"></i>
									</a>
									<span id="optional-text">(optional) </span>
									
								</div>
								<!-- <label class="margin">Time Comittment</label> -->
								<div class="col-sm-6">
									<div class="checkbox">
										<label>
											<input type="checkbox"> <a>Housing available</a>
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox"> <a>International volunteers welcome</a>
										</label>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="checkbox">
										<label>
											<input type="checkbox"> <a>Language/cultural support available</a>
										</label>
									</div>
									<div class="checkbox">
									</div>
								</div>
							</li>
							<li style="list-style-type:none" class="check-label">
								<div class="row">
									<label class="margin-left-28 ">Extra Details</label>
									<a>
										<i class="glyphicon glyphicon-question-sign blue"  id="extra-checkbox"></i>
									</a>
									<span id="optional-text">(optional) </span>
								</div>
								
								<div class="col-sm-6">
									<div class="checkbox">
										<label>
											<input type="checkbox"> <a>Training provided</a>
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox"> <a>Fee required</a>
										</label>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="checkbox">
										<label>
											<input type="checkbox"> <a>Stipend provided</a>
										</label>
									</div>
									<div class="checkbox">
									</div>
								</div>
							</li>
							<li style="list-style-type:none" id="language-popover">
								<label>Language</label>
								<span id="optional-text">(optional) </span>								
								<div  id='form-component-arrangement-input'>
									<input type="text" class='form-control' id="language-tag" placeholder="Add Languages" />
								</div>

								<div class="col-sm-12">
									<span style="margin-left:-13px;"><a href="#" id="zoomTextarea" onclick="updateValueLanText()" title="Click to Zoom" data-toggle="modal" data-target="#languageBox">Add language requirements to your job posting</a>
									</span>
								</div>
							</li>
						</ul>
				    </div>
				</div>
			</div>
			<div class="row margin-left-57">
				<div class="col-sm-11">
					<hr style="height:1px; background-color:#DDDDDD;">
				</div>	
			</div>
			<div class='row'>
				<div class='margin-top-15'>
				</div>
			</div>
			<div class="row margin-left-57">
				<div class="col-sm-11">
					<div class='col-sm-1  font-size-4 '>
						<span class="glyphicon glyphicon-edit"></span>			    	
				    </div>
				    <div class="col-sm-6">
				    	<label class="font-size-15">Cover Letter</label>
				    </div>
				    <div class='col-sm-9' >
				    	<span>Ask applicants to write a cover letter introducing themselves.</span>
				    	<div class="checkbox">
					      <input type="checkbox" id='checkbox-cover'><span style='font-weight:700;'> Yes, require a cover letter</span>
					  	</div>
				    </div>
				    <div class='col-sm-9 margin-left-80' >
				    	<span>Ask applicants to complete the profile before applying to the job.</span>
				    	<div class="checkbox">
					      <input type="checkbox" id='checkbox-profile'> <span style='font-weight:700;'>Yes, complete their profile</span>
					    </div>
					</div>
				</div>
			</div>
			<div class="row margin-left-57">
				<div class="col-sm-11">
					<hr style="height:1px; background-color:#DDDDDD;">
				</div>	
			</div>
			<!--screening questions -->
			<div class='row'>
				<div class='margin-top-15'>
				</div>
			</div>
			<div class="row margin-left-57">
				<div class="col-sm-11">
					<div class='col-sm-1  font-size-4 '>
						<span class="glyphicon glyphicon-th-list"></span>			    	
				    </div>
				    <div class="col-sm-6">
				    	<label class="font-size-15">Screening Questions</label>
				    </div>

				    <div class='col-sm-11' id="screening-popover">
				    	<span>Add a few question that youd like to ask your candidates to answer when applying to your job</span>
				    	<div class="margin-top-10"></div>
				    	<input type="text" class='form-control' id='screening-tag' placeholder="Add Questions"/>
				    </div>
			    	<div class="col-sm-12">
			    		<div class="col-sm-1">
			    		</div>
						<span style="margin-left:5px;"><a href="#" id="zoomTextarea" onclick="updateValueScreeningText()" title="Click to Zoom" data-toggle="modal" data-target="#screeningBox">Add screening questions to your job posting</a>
						</span>
					</div>
							
				</div>
			</div>
			<div style="margin-bottom:50px;">
			</div>
			<!-- buttons at the bottom -->
			<div class='row'>
				<div class='col-sm-4'>
				</div>
				<div class='col-sm-4'>
					<button class='btn btn-primary' type="button" style='padding:5px 15px 5px 15px; font-size:15px;'>Preview</button>
					<button class='btn btn-success' type="submit" style='padding:5px 15px 5px 15px; font-size:15px;'>Post a Job</button>
					<button class='btn btn-danger' type="button" style='padding:5px 15px 5px 15px; font-size:15px;'>Cancel</button>
				</div>
			</div>
			<div style="margin-bottom:50px;">
			</div>
		</form>
	<footer class="main-container-footer">
		<div class='footer-size'>
			<div class='row'>
				<div class='col-sm-12 extra-row'>
				</div>
			</div>
			<div class='row' >
				<div class='col-sm-2'>
				</div>
				<div class='col-sm-3'>
					<div class='col-sm-5' >
						<div class='row' >
							<a href="#" id="footer-text">About Us </a>
						</div>
						<div class="margin-top-7"></div>
						<div class='row'>
							<a href="#" id="footer-text">Blog </a>
						</div>
						<div class="margin-top-7"></div>
						<div class='row'>
							<a href="#" id="footer-text">Feedback </a>
						</div>
						<div class="margin-top-7"></div>
					</div>

					<div class='col-sm-5'>
						<div class='row'>
							<a href="#" id="footer-text">Comunnity </a>
						</div>
						<div class="margin-top-7"></div>
						<div class='row'>
							<a href="#" id="footer-text">Trust & Safety</a>
						</div>
						<div class="margin-top-7"></div>
						<div class='row'>
							<a href="#" id="footer-text">Help & Support</a>
						</div>
						<div class="margin-top-7"></div>
					</div>
				</div>
				<div class='col-sm-3' style="margin-left:-60px">
					<div class='col-sm-6'>
						<div class='row'>
							<a href="#" id="footer-text">Enterprise Solution</a>
						</div>
						<div class="margin-top-7"></div>
						<div class='row'>
							<a href="#" id="footer-text">Terms of Services</a>
						</div>
						<div class="margin-top-7"></div>
						<div class='row'>
							<a href="#" id="footer-text">Privacy Policy</a>
						</div>
						<div class="margin-top-7"></div>
					</div>
					<div class='col-sm-5'>
						<div class='row'>
							<a href="#" id="footer-text">Tools</a>
						</div>
						<div class="margin-top-7"></div>
						<div class='row'>
							<a href="#" id="footer-text">Client Resources</a>
						</div>
						<div class="margin-top-7"></div>
						<div class='row'>
							<a href="#" id="footer-text">Help & Support</a>
						</div>
						<div class="margin-top-7"></div>
					</div>
				</div>
				<div class='col-sm-3' style="margin-left:-40px;">
					<div class="row">
						<a href="#" class="footer-select">
							<div class="footer-circle footer-circle-linkedin pull-right">
								<i class="icon-linkedin font-size-20 icon-attr"> </i>
							</div>
						</a>
						<a href="#">
							<div class="footer-circle footer-circle-facebook pull-right">
								<i class="icon-facebook font-size-20 icon-attr"> </i>
							</div>
						</a>
						<a href="#">
							<div class="footer-circle footer-circle-twitter pull-right">
								<i class="icon-twitter font-size-20 icon-attr"> </i>
							</div>
						</a>
						<a href="#">
							<div class="footer-circle footer-circle-google pull-right">
								<i class="icon-google-plus font-size-20 icon-attr"> </i>
							</div>
						</a>
					</div>
					<div class="row pull-right" id='footer-copyrights'>
						<span >&#169;&nbsp;Olympia Volunteer Corporation</span>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-12 extra-row'>
				</div>
				<div class='col-sm-12 margin-top-10'>
				</div>
			</div>
		</div>
	</footer>
	</div>
		<div class="col-sm-1">
		</div>
	</div>


	<!-- Some modals -->
	<!-- Describe the work to be done data modal-->
	<div class="modal fade" id="textBoxBig" tabindex="-1" role="dialog" aria-labelledby="textBoxBig" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close big-close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2 class="modal-title" id="myModalLabel">Describe the work to be done</h2>
				</div>
				<form role="form">
					<div class="modal-body">
						<div class="form-group">
							<textarea id="text-content-pop" maxlength="4000" class="form-control" rows="15"></textarea>
						</div>
						<div class="form-group text-left">
							<p>Number of characters: <span id="text-content-count-pop">0</span> (max 4000 characters)</p>
						</div>
						<div class="row">
							<div class="col-sm-6 text-left">
							</div>
							<div class="col-sm-6">
								<button type="button" class="btn btn-primary pull-right" data-dismiss="modal">OK <i class="glyphicon glyphicon-arrow-right"></i></button>
								<button style="margin: 0 10px 0 0;" type="button" class="btn btn-default btn-danger pull-right" data-dismiss="modal" aria-hidden="true">Cancel</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- language modal box -->
	<div class="modal fade" id="languageBox" tabindex="-1" role="dialog" aria-labelledby="languageBox" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close big-close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2 class="modal-title" id="myModalLabel">Choose languages</h2>
				</div>
				<form role="form">
					<div class="modal-body">
						<div class="form-group">
							<div class="col-sm-3">
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan1" value="Afrikaans"> Afrikaans
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan2" value="Albanian"> Albanian
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan3" value="Arabic"> Arabic
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan4" value="Armenian"> Armenian
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan5" value="Azerbaijani"> Azerbaijani
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan6" value="Basque"> Basque
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan7" value="Belarusian"> Belarusian
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan8" value="Bengali"> Bengali
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan9" value="Bosnian"> Bosnian
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan10" value="Bulgarian"> Bulgarian
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan11" value="Catalan"> Catalan
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan12" value="Cebuano"> Cebuano
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan13" value="Chinese"> Chinese
								    </label>
								</div>
							    
							</div>
							<div class="col-sm-3">
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan14" value="Danish"> Danish
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan15" value="Dutch"> Dutch
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan16" value="English"> English
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan17" value="Esperanto"> Esperanto
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan18" value="Estonian"> Estonian
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan19" value="Filipino"> Filipino
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan20" value="French"> French
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan21" value="Georgian"> Georgian
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan22" value="German"> German
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan23" value="Greek"> Greek
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan24" value="Hausa"> Hausa
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan25" value="Hebrew"> Hebrew
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan26" value="Hindi"> Hindi
								    </label>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan27" value="Hungarian"> Hungarian
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan28" value="Indonesian"> Indonesian
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan29" value="Irish"> Irish
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan30" value="Italian"> Italian
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan31" value="Japanese"> Japanese
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan32" value="Korean"> Korean
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan33" value="Lao"> Lao
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan34" value="Latin"> Latin
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan35" value="Mongolian"> Mongolian
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan36" value="Norwegian"> Norwegian
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan37" value="Persian"> Persian
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan38" value="Portuguese"> Portuguese
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan39" value="Punjabi"> Punjabi
								    </label>
								</div>
							</div>
							
							<div class="col-sm-3">
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan40" value="Romanian"> Romanian
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan41" value="Russian"> Russian
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan42" value="Serbian"> Serbian
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan43" value="Spanish"> Spanish
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan44" value="Swedish"> Swedish
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan45" value="Thai"> Thai
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan46" value="Turkish"> Turkish
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan47" value="Ukrainian"> Ukrainian
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan48" value="Urdu"> Urdu
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan49" value="Vietnamese"> Vietnamese
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan50" value="Welsh"> Welsh
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan51" value="Yoruba"> Yoruba
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="lan52" value="Zulu"> Zulu
								    </label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 text-left">
							</div>
							<div class="col-sm-6">
								<button style="margin: 20px 10px 30px 0;" type="button" class="btn btn-primary pull-right" data-dismiss="modal" onclick="updateValueLanCheck()">OK <i class="glyphicon glyphicon-arrow-right"></i></button>
								<button style="margin: 20px 10px 30px 0;" type="button" class="btn btn-default btn-danger pull-right" data-dismiss="modal" aria-hidden="true" >Cancel</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- days of week -->
	<div class="modal fade" id="dowBox" tabindex="-1" role="dialog" aria-labelledby="dowBox" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close big-close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2 class="modal-title" id="myModalLabel">Days of week</h2>
				</div>
				<form role="form">
					<div class="modal-body">
						<div class="form-group">
							<div class="col-sm-3">
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow1" value="monday morning"> monday morning
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow2" value="tuesday morning"> tuesday morning
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow3" value="wednesday morning"> wednesday morning
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow4" value="thursday morning"> thursday morning
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow5" value="friday morning"> friday morning
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow6" value="saturday morning"> saturday morning
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow7" value="sunday morning"> sunday morning
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow8" value="weekdays morning"> weekdays morning
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow9" value="weekend morning"> weekend morning
								    </label>
								</div>
							    
							</div>
							<div class="col-sm-3">
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow10" value="monday afternoon"> monday afternoon
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow11" value="tuesday afternoon"> tuesday afternoon
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow12" value="wednesday afternoon"> wednesday afternoon
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow13" value="thursday afternoon"> thursday afternoon
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow14" value="friday afternoon"> friday afternoon
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow15" value="saturday afternoon"> saturday afternoon
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow16" value="sunday afternoon"> sunday afternoon
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow17" value="weekdays afternoon"> weekdays afternoon
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow18" value="weekend afternoon"> weekend afternoon
								    </label>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow19" value="monday evening"> monday evening
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow20" value="tuesday evening"> tuesday evening
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow21" value="wednesday evening"> wednesday evening
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow22" value="thursday evening"> thursday evening
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow23" value="friday evening"> friday evening
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow24" value="saturday evening"> saturday evening
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow25" value="sunday evening"> sunday evening
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow26" value="weekdays evening"> weekdays evening
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow27" value="weekend evening"> weekend evening
								    </label>
								</div>
							</div>
							
							<div class="col-sm-3">
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow28" value="monday late night"> monday late night
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow29" value="tuesday late night"> tuesday late night								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow30" value="wednesday late night"> wednesday late night
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow31" value="thursday late night"> thursday late night
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow32" value="friday late night"> friday late night
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow33" value="saturday late night"> saturday late night
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow34" value="sunday late night"> sunday late night
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow35" value="weekdays late night"> weekdays late night
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow36" value="weekend late night"> weekend late night
								    </label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 text-left">
							</div>
							<div class="col-sm-6">
								<button style="margin: 20px 10px 30px 0;" type="button" class="btn btn-primary pull-right" data-dismiss="modal" onclick="updateValueDowCheck()">OK <i class="glyphicon glyphicon-arrow-right"></i></button>
								<button style="margin: 20px 10px 30px 0;" type="button" class="btn btn-default btn-danger pull-right" data-dismiss="modal" aria-hidden="true" >Cancel</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Screening questions -->
	<div class="modal fade" id="screeningBox" tabindex="-1" role="dialog" aria-labelledby="screeningBox" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close big-close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2 class="modal-title" id="myModalLabel">Screening questions</h2>
				</div>
				<form role="form">
					<div class="modal-body">
						<div class="form-group">
							<div class="col-sm-11">
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="screening1" value="Have you taken any Volunteer tests and done well on them that you think are relevant to this job?"> Have you taken any Volunteer tests and done well on them that you think are relevant to this job?
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="screening2" value="Why did you apply to this particular job?"> Why did you apply to this particular job?
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="screening3" value="Which part of the project do you think will take the most time?"> Which part of the project do you think will take the most time?
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="screening4" value="Do you have any questions about the job description?"> Do you have any questions about the job description?
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="screening5" value="Do you have any suggestions to make this project run successfully?"> Do you have any suggestions to make this project run successfully?
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="screening6" value="Why do you think you are a good fit for this particular project?"> Why do you think you are a good fit for this particular project?
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="screening7" value="What challenging part of this job are you most experienced in?"> What challenging part of this job are you most experienced in?
								    </label>
								</div>
							    <div class="checkbox">
								    <label>
								      <input type="checkbox" id="screening8" value="Which of the required job skills do you feel you you are strongest at?"> Which of the required job skills do you feel you you are strongest at?
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="screening9" value="What questions do you have about the project?"> What questions do you have about the project?
								    </label>
								</div>
								<div class="checkbox">
								    <label>
								      <input type="checkbox" id="dow10" value="What past project or job have you had that is most like this one and why?"> What past project or job have you had that is most like this one and why?
								    </label>
								</div>
							    
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 text-left">
							</div>
							<div class="col-sm-6">
								<button style="margin: 20px 10px 30px 0;" type="button" class="btn btn-primary pull-right" data-dismiss="modal" onclick="updateValueScreeningCheck()">OK <i class="glyphicon glyphicon-arrow-right"></i></button>
								<button style="margin: 20px 10px 30px 0;" type="button" class="btn btn-default btn-danger pull right" data-dismiss="modal" aria-hidden="true" >Cancel</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Scripts -->
	<script src="../lib/jquery/dist/jquery.min.js"></script>
	<script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- date picker Scripts -->
	<script src="../lib/moment/moment.js"></script>
	<script src="../lib/moment/min/moment.min.js"></script>
	<script src="../lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
	<!--tag inputs -->
	<script src="../lib/bootstrap.taginput.js"></script>
	<!-- rich text editor -->
	<script src="../external/jquery.hotkeys.js"></script>
	<script src="../external/google-code-prettify/prettify.js"></script>
	<script src="../js/bootstrap-wysiwyg.js"></script>

	<script src="../lib/bootstrap3-typeahead.js"></script>
	<script src="../js/control.js"></script>

	<script src="../js/input-file.js"></script>
	<script src="../js/app.js"></script>
	<script src="../lib/hoverIntent.js"></script>
	<script src="../lib/superfish.min.js"></script>
	<script src="../lib/supersubs.js"></script>


</body>
</html>