.container{
    width:1048px;
}
.apply-button{
    width: 324px;
}
.plus-n-minus{
    position: relative;
    border: 2px solid #00aecc;
    width: 18px;
    height:18px;
    color: #00aeec;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin:10px 0;
    vertical-align: sub;
}
.application-icon{
    position: relative;
    font-size: 11px;
    bottom: 4px;
    left: 3px;
}

.pill{
    border-radius: 20px;
    padding: 5px 5px 5px 30px;
    background-color: #eeeeee;
}
.plus-n-minus-fha{
    color: #ffffff;
    background-color: #00aecc;
}
.create-hr{border: 1.5px solid #eee; 
    margin-top: 10px; 
    margin-bottom:10px
}
.small-label label{
    font-weight: 500;
}
.main-border1.padding-15{
    padding-bottom:30px;
    padding-top:15px;
}
.small-pill {
  display: inline-block;
  margin: 0;
  background-color: #eeeeee;
  text-transform: capitalize;
  border-radius: 6px;
  padding:  4px;
  font-size: 12px;
  outline: 0;  
  border: 0;
  margin-right: 3px;
  margin-top: 3px;
}
